<div class="row">
	<div class="span6 offset3">
		<div class="post">
			<h1>CrunchWeek: Galaxy S4′s Mixed Reviews, Betaworks Buys Instapaper, Valleywag’s Comeback</h1>
			<p>
				Live from New York it’s CrunchWeek, the weekly show where a few of us writers gather ’round the TechCrunch TV cameras and chitchat about a few of the most interesting stories from the past seven days in the world of tech.
				<br><br>
				At the moment we’re in New York City for Disrupt NY next week, and the weather here is pretty amazing — so Jordan Crook, Ryan Lawler and I decided to film this episode in Manhattan’s High Line Park.
				<br><br>
				Watch the video embedded above to hear us discuss the launch of the Samsung Galaxy S4, Betaworks’ surprise acquisition of social reading app Instapaper, and how we all feel about the resurrection of Valleywag.
			</p>
		</div>
		<div class="post">
			<h1>CrunchWeek: Galaxy S4′s Mixed Reviews, Betaworks Buys Instapaper, Valleywag’s Comeback</h1>
			<p>
				Live from New York it’s CrunchWeek, the weekly show where a few of us writers gather ’round the TechCrunch TV cameras and chitchat about a few of the most interesting stories from the past seven days in the world of tech.
				<br><br>
				At the moment we’re in New York City for Disrupt NY next week, and the weather here is pretty amazing — so Jordan Crook, Ryan Lawler and I decided to film this episode in Manhattan’s High Line Park.
				<br><br>
				Watch the video embedded above to hear us discuss the launch of the Samsung Galaxy S4, Betaworks’ surprise acquisition of social reading app Instapaper, and how we all feel about the resurrection of Valleywag.
			</p>
		</div>
		<div class="post">
			<h1>CrunchWeek: Galaxy S4′s Mixed Reviews, Betaworks Buys Instapaper, Valleywag’s Comeback</h1>
			<p>
				Live from New York it’s CrunchWeek, the weekly show where a few of us writers gather ’round the TechCrunch TV cameras and chitchat about a few of the most interesting stories from the past seven days in the world of tech.
				<br><br>
				At the moment we’re in New York City for Disrupt NY next week, and the weather here is pretty amazing — so Jordan Crook, Ryan Lawler and I decided to film this episode in Manhattan’s High Line Park.
				<br><br>
				Watch the video embedded above to hear us discuss the launch of the Samsung Galaxy S4, Betaworks’ surprise acquisition of social reading app Instapaper, and how we all feel about the resurrection of Valleywag.
			</p>
		</div>
	</div>
</div>