<div class="well">
	<div class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="post-title">Title</label>
			<div class="controls">
				<input type="text" id="post-title" placeholder="Title">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="post-body">Body</label>
			<div class="controls">
				<textarea id="post-body" placeholder"Body"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button class="btn" id="post-submit">Post it!</button>
			</div>
		</div>
	</div>
</div>